*{
    margin: 0px;
    padding: 0px;
}
header{
   width: 100%;
   position: relative;
   background:url('/img/fondoheader.png') no-repeat;
   height: 200px;
   text-decoration: none;
   display: flex;
   flex:1;
}
.redes__header{
    width: 75%;
    display: flex;
    list-style: none;
    
    justify-content: space-between;
}
ul.redes__header{
 color: white;
}
.nav__item_red_social{
    margin-top: 9px;
    list-style: none;
 
}
.form__header{
    margin: 5px;
   
}
.boton__header{
    margin: 5px;
    
}
.nav__Logo_RedSocial{
    margin-right: 4px;
}
.nav__cont_nav{
    background-color: #0D0A05;
    border-top: 1px solid #ffffff1f; 
   
}
.nav__items{
color: blanchedalmond;
border-right: 1px solid #fafafa61;
display: block;
padding: .5rem 1rem;
}


.nav__items:hover{
    background:#950C2B;
    color: seashell;
    text-decoration: none;
    font-style: oblique;
    transition-duration: 1s;
}

.nav__icon{
    width: 100%;
  
}
.nav__boton_menu:hover{

    border-color: seashell;
    background: #83190599;
    transition-duration: 1s;
}

.nav__icono_menu{
    width: 100%;
    }

.nav__link_form{
margin-right: 10px;
}
    

/* FOOTER */

.footer__cont{
    background-color: black;
    background-image: url(/img/base\ logo\ twd.png);
}
.footer__titulo{
    color: blanchedalmond;
}
.footer__text_legales{
color: blanchedalmond;
}
.footer_cont_opc{
    border-right: 1px solid white;
}
.footer_link_opc{
    padding: 2px;
    text-decoration: none;
    color: white;
    margin-right: 2%;
}

.footer_link_opc:hover{
    transition: 2s;
    color: red;
    text-decoration: none;
}

.footer__lista{
 list-style: none;
 width: 60%;
}
@media screen and (max-width:576px){

 
    .footer_link_opc{
        padding: 2px;
        text-decoration: none;
        color: white;
        margin-right: 2%;
        font-size: 0.8rem;
    }

    .footer__text_legales{
        color: blanchedalmond;
        font-size: 0.9rem;
        }
 
        .footer__titulo{
            color: blanchedalmond;
            font-size: 0.8rem;
          
        }

        .footer__lista{
            list-style: none;
            width: 75%;
           }
}