*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    position: relative;
    height: 550px;
    background-repeat:no-repeat;
    background:url(../img/baserick.png);
    background-size: cover;
       
   }
   .header__container{
       width: 100%;
       height: 100%;
       display: flex;
      flex-wrap: wrap;
      
   }
   .header__row{
       width: 100%;
       height: 90%;
       display: flex;
       padding: 0 1%;
      flex-wrap: wrap;
   }
   .header__col_redes{
       width: 100%;
       height: 90%;
       display: flex;
       justify-content: flex-end;
       flex: 25%;
       max-width: 25%;
       margin-top: 5%;
   }
   
   .header__col_redes_soc{
       width: 100%;
       margin-top: 1%;
       list-style: none;
       display: flex;
       justify-content: space-evenly;
       vertical-align: middle;
   }
   .header__logo_redes_soc{
       height: 9%;
       border-radius: 100%;
       display: flex;
   }
   
   .header__logo_redes_soc:hover{
       background:  #85180a;
       border-radius: 100%;
       transition: 0.4s all;
   }
   
   .header__col_logo{
       width: 100%;
       height: 90%;
       display: flex;
       flex: 25%;
       max-width: 25%;
       vertical-align: middle;
       margin-top: 8%;
       text-align: center;
       font-family: "Roboto";
       color: #85180a;
       
   }
   
   .header__col_logotwd{
       width: 100%;
       max-width: 100%;
       display: flex;
       flex-direction: column;
      
   }
   
   .header__col_search{
       width: 100%;
       height: 90%;
       display: flex;
       flex: 25%;
       max-width: 25%;
       margin-top: 8%;
       padding-bottom: 3%;
       justify-content: flex-end;
       align-items: flex-end;
   }
   
   .header__col_registro{
       width: 100%;
       height: 90%;
       margin-top: 8%;
       padding-bottom: 3%;
       display: flex;
       justify-content: center;
       align-items: flex-end;
       flex: 25%;
       max-width:25%;
       vertical-align: middle;
              
   }
    .header__btn_lupa{
    background: #0D0A05 !important;
    color: white !important;

    }

    .header__btn_lupa:hover{
    background: maroon !important;
    transition: 0.3s ease;

    }

   .header__btn_login{
    margin-right: 2%;
    background: #0D0A05 !important;
    color: white !important;
    }

   .header__btn_login:hover{
    background: maroon !important;
    transition: 0.3s ease;
   }

   .header__btn_signup{
    background: #0D0A05 !important;
    color: white !important;
       }
   .header__btn_signup:hover{
    background: maroon !important;
    transition: 0.3s ease;
   }

 
  
   



   @media screen and (max-width:576px){
       header{        
        position: relative;
        background-repeat: no-repeat;
        background:url(../img/rick576.png);
       }
       .header__col_redes{
        display: none;
       }
       .header__col_search{
        display: none;
       }
       .header__col_logo{
           display: flex;
           flex: 100%;
           max-width: 100%;
       }

       .header__col_registro{
        display: none;
    }
   }
   @media only screen and (max-width: 992px) and (min-width: 576px){
     header{        
     position: relative;
     background-repeat: no-repeat;
     background:url(../img/portada\ w576.png);
    }
    .header__row{
        display: flex;
        flex-direction: column;
        height:100%;
    }
    .header__col_redes{
     display: none;
    }
    .header__col_logo{
        height: 50%;
        max-width: 100%;
       
    }
    .header__col_search{
        height: 50%;
        max-width: 100%;
    }

    .header__col_registro{
     display: none;
 }
}
  
      
       
   /* nav */
.nav__item_red_social{
    margin-top: 9px;
    list-style: none;
    background: transparent;
   
   
}
.nav__iconos_red_social{
    width: 80%;
    border-radius: 100%;
}
.nav__iconos_red_social:hover{
    background: maroon;
    transition: 1s ease;
    border-radius: 100%;
}

.nav__Logo_RedSocial{
    margin-right: 4px;
    border-radius: 100%;
}
.nav__Logo_RedSocial:hover{
    background: maroon;
    transition: .3s ease;
    border-radius: 100%;
}

.nav__items{
color: blanchedalmond;
border-right: 1px solid #fafafa61;
display: block;
padding: .5rem 1rem;
}


.nav__items:hover{
    background:#950C2B;
    color: seashell;
    text-decoration: none;
    transition-duration: .5s;
}

.nav__icon{
    width: 100%;
  
}
.nav__boton_menu:hover{

    border-color: seashell;
    background: #83190599;
    transition-duration: 1s ease;
}
.nav__iconos_red_social{
width: 65%;
}

.nav__iconos_red_social:hover{
    background: maroon;
    transition: 1s ease;
    border-radius: 100%;
}
.nav__icono_menu{
    width: 100%;
    }

.nav__link_form{
margin-right: 10px;
}
    

/* Nav FIN */



/* carousel */
.carrousel__boton:hover{
    background: #ff000094;
    color: white;

}


.carrousel__boton{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: gray;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


/* CSS ESCRITORIO INICIO */
@media screen and (min-width:576px){

/* Nav en escritorios inicio*/

    .nav__cont_nav{
        background-color: #0D0A05;
        border-top: 1px solid #ffffff1f; 
       
    }
/* Nav en escritorios fin*/

/* carrousel section01 inicio*/
.carrousel__target{
    width: 100%;
}

.carrousel__section01_cont_item{
    width: 10% !important;
    height: 70px!important;
 background-color: transparent !important;

}


.carrouse__marg_text{
  margin-bottom: 20px;
}
.carrouse__subtitle_items{
    margin-bottom: 60px; 
}

.carrousel__boton{
    margin-bottom: 70px;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: gray;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}


.card__btn{
    background: maroon !important;
    border: 1px solid maroon !important;
  
}

.card__btn:hover{
    background: #8000006c !important;
    border: 1px solid maroon !important;
    
}
/* carrousel section01 fin*/

/* carrousel noticias inicio */
.card__noticias_cont:hover{
    transform: scale(1.1);
    padding: 20px 0px;
    transition: 0.5s ease;
}



/* carrousel noticias fin */ 

   /* TITULOS DE SECTION inicio */
   .title_section__cont{

    background: transparent;
    display: flex;
    justify-content: center;
    align-self: center;
    color:white;
    }

    .title_section__img{
        width: 45%;
    }
    
    
    .title_section__text{
        font-size: 3rem !important;
        margin: 0 !important;
        background: #0000009e;
    }

    /* TITULOS DE SECTION fin */

    /* modal escritorio INICIO */

    .Modal__cont_img_art01{
        width: 70%;
      }
      .Modal__cont_art01{
        width: 100%;
        border-radius: 15px;
        overflow: auto;
        margin: 1% auto;
        text-align: justify;
        color: white;
        background: #121212fa !important;
      }

      .Modal__cont_txt_art01{
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1%;;
       
      }
      
      .modal__art01__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .Modal__btn_art01{

            background: maroon !important;
            border: 1px solid maroon !important;
            transition: 1s ease !important;
            width: 10%;

        
        }
        
        .Modal__btn_art01:hover{
            background: #8000006c !important;
            border: 1px solid maroon !important;
            transition: 1s ease;
            transform: scale(1.3);
            width: 20%;
        }
        
      
        .Modal__img_art01{
  
            width:100%;           
          }

/* modal de galeria de fotos inicio*/
          .G_fotos__Modal__img{
            width:100%; 
          }
          .G_fotos__Modal__cont_img{
              overflow: hidden;
              flex-wrap:wrap;

          }


/* modal de galeria de fotos Fin */

    /* modal escitorio FIN */

/* carrousel galeria de fotos inicio */

.card__foto{
    background: #12121240 !important;
    margin: 5px;
    padding: 4px;
    border: 1px groove #050505 !important;
    box-shadow: 0px -1px 0px 3px #56574f9e;
    overflow: hidden;
  
}

.card__foto:hover{
    background: #8000006c !important;
    border: 0px solid maroon !important;
    text-decoration: none !important;
    margin: 0px;
    padding: 0px;
    transition-duration: 1s;
  
}

.G_fotos__title_foto{

text-decoration: none !important;
color: blanchedalmond;

}

}

/* CSS ESCRITORIO FIN */

.carrousel__pasar_sig:hover{

    background: #ff00001c;
}

/* fin carrousel */


/* FOOTER */

.footer__cont{
    background-color: black;
    background-image: url(/img/Footer__fondo01.jpg);
    padding: 15px !important;
}
.footer__titulo{
    color: white;
}
.footer__text_legales{
color: white;
}
.footer_cont_opc{
    border-right: 1px solid white;
    
    
}
.footer_link_opc{
    padding: 2px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.footer_link_opc:hover{
   
    transition: 1s ease;
    text-decoration: none;
    background: #83160a54;
    color: white;
}

.footer__lista{
    list-style: none;
    width: 100%;
}



.footer__Logo_RedSocial{
    border-radius: 100%;
    display: flex;
    justify-content: center;
 
}

.footer__iconos{
    width: 70%;
}

.footer__iconos:hover{
    background: maroon;
    transition: 1s ease;
    border-radius: 100%;
}

.footer__item_red_social{
    margin-top: 9px;
    list-style: none;
    background: transparent;
    text-decoration: none; 
}

/* CSS MOVIL INICIO*/
@media screen and (max-width:576px){

/* nav en movil inicio */
    .nav__cont_nav{
        background-color: #0D0A05;
        border-top: 1px solid #ffffff1f; 
       
    }

/* nav en movil fin */

/* footer en movil inicio */
    .footer__cont{
        background-color: black;
        background-image: url(/img/base\ logo\ twd.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px !important;
    }

    .footer_link_opc{
        padding: 2px;
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
    }

    .footer_link_opc:hover{
   
        transition: 1s ease;
        text-decoration: none;
        background: #ffffffad;
        color: #c92323;
    }
    

    .footer__text_legales{
        color: blanchedalmond;
        font-size: 0.9rem;
        }
 
        .footer__titulo{
            color: blanchedalmond;
            font-size: 0.8rem;
          
        }

        
        .footer__lista{
            list-style: none;
            width: 65%;
           }

        
           .footer__iconos{
            width: 80%;
            
        }

/* footer en movil fin */
        

      
        
   /* TITULOS DE SECTION inicio */
.title_section__cont{

    background: transparent;
    display: flex;
    justify-content: center;
    align-self: center;
    color:white;
    
    
    }
    
    
    .title_section__text{
        font-size: 2rem !important;
        margin: 0 !important;
        background: #0000009e;
    }

     /* TITULOS DE SECTION FIN */

   /* Inicio modal noticias movil */   

    .Modal__cont_img_art01{
        width: 100% !important;
      }

      .Modal__cont_art01{
        width: 100% !important;
        overflow: auto;
        text-align: justify;
        color: white;
        background: #121212fa !important;
      }

      .Modal__cont_txt_art01{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1%;
        font-size: 1rem;
       
      }

      .modal__art01__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .Modal__btn_art01{

            background: maroon !important;
            width: 50%;
        }

        .Modal__btn_art01:hover{
            background: red !important;

        }


        
  .Modal__img_art01{
  
    width: 100%;
    box-sizing: border-box;
     
  }
    /* Fin modal noticias movil */   

    /* card carraousel noticias inicio*/

    .card__noticias_cont{
        width: 100% !important;
        margin: 5px 0;
    }

    .card__btn{
        background: maroon !important;
        border: 1px solid maroon !important;
      
    }
  /* card carraousel noticias fin*/

} /* CSS MOVIL FIN*/



/* CSS  default carrousel Noticias inicio */

/* cards noticias inicio */
.card__noticias_cont{
    width: 24%;
    margin: 5px 0;
    background-color: #000000b8 !important;
    color: aliceblue;
    border-radius: 4% !important;
    transition: 1s ease;
}


.Card__Carrusel_cont{
    background-color: #171616;
    background-image: url(/img/fondo_Noticias01.jpg);
    background-position: center;
}
/* cards noticias fin */

/* CSS default carrousel Noticias FIN */

/* MODAL default Articulo 01 - INICIO */

  #titulo_art{
    font-size: 30px;
    margin-top: 21px;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(84, 84, 84, 0.63);
  
  }
  
.Modal__title_art01{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}




/* MODAL default Articulo 01 - FIN */


/* Carrousel  default fotos INICIO */

.card__fotos_cont{
    width: 30%;
    margin: 5px 0;
    background-color: #000000b8 !important;
    color: aliceblue;
    /* box-sizing: inherit; */
    transition: 1s ease;
}


.Card__fotos_Carrusel_cont{
    background-color: #171616;
    background-image: url(/img/fondo_galeria\ de\ fotos.jpg);
    background-position: center;
    
}

/* Carrousel fotos FIN */

/* Inicio carrusel galeria de videos*/



.tarjeta__videos_cont{
    
    margin: auto;
    background: black;
    transition: 10s ease;

    
}


.galeria_videos{
    width: 100%;
    position: relative;
    background-image: url(/img/fondo_Noticias01.jpg);
    background-size: cover;
    
}

/* Fin carrusel galeria de videos*/
